@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --color_text:#ffffff;
  --color_text2:#c0c0c0;
  --color_button: #167BF7;
  --color_button_efeito: #3c92fa;
  --color_background: #00030c;
  --font_family:"Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font_family);
}

body {
  background-color: var(--color_background);
}

.primeiro_quadro {
  background-image: url(../images/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.primeiro_quadro_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.primeiro_quadro_conteudo_paragrafo {
  color: var(--color_text);
  padding-bottom: 22px;
  font-size: 1.75rem; /* 16px = 1rem | 28px = 1.75em */
  font-weight: bold;
  text-align: center;
}

.image_combo {
  height: 100px;
  width: 348px;
  padding-bottom: 54px;
}

.primeiro_quadro_conteudo_buttons {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 16px;
}

.primeiro_quadro_conteudo_buttons_1 {
  height: 56px;
  width: 512px;
  background-color: var(--color_button);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_text);
}

.primeiro_quadro_conteudo_buttons_2 {
  height: 56px;
  width: 512px;
  border-radius: 8px;
  border: 1px solid var(--color_text);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_text);
}

.buttons:hover {
  background-color: var(--color_button_efeito);
  color: var(--color_background);
}

.quadro_conteudo_letrasMiudas {
  font-size: 0.75rem;
  color: var(--color_text2);
}

.segundo_quadro {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}

.segundo_quadro_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

strong {
  color: var(--color_text);
  font-size: 3rem;
}

.segundo_quadro_paragrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-self: center;
  justify-self: center;
  height: 50%;
  width: 70%;
}

.quadro_conteudo_letras {
  font-size: 1rem;
  color: var(--color_text2);
}

.terceiro_quadro {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}

.terceiro_quadro_conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 4rem;
  gap: 1rem;
}

.terceiro_quadro_conteudo_button {
  background-color: var(--color_button);
  border-radius: 8px;
  color: var(--color_text);
  padding: 1rem;
}

.terceiro_quadro_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quarto_quadro {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}

.quarto_quadro_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quarto_quadro_conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 5rem;
}

.quinto_quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.quinto_quadro_dispositivos {
  display: grid;
  grid-template-areas: 
  "div div div";
  text-align: center;
  list-style-type: none;
}

.dispositivos {
  color: var(--color_text);
  font-weight: bold;
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 4rem 2rem;
}

.links_rapidos_footer {
  display: flex;
  gap: 1rem;
}

a {
  color: var(--color_text);
}

.links_rapidos_footer a:hover {
  color: var(--color_button_efeito);
}

.footer_letrasMiudas {
  font-size: 0.75rem;
  color: var(--color_text2);
  text-align: center;
}